<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />  
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />  
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" type="text/css" integrity="sha384-31ymrrslLx0ofx2q0EHCjIS4EP7kb0vHWi50Seb913TPXArCPyCsfuH5FnNkFWt3" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/mobile.css" type="text/css">
		<script src="https://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript" integrity="sha384-npxfGiG5C/F5X72RqcKFYSfzr1AXsDiu1YC/ydsOrS+jL554Jh4zFAx9GpQi4lXQ" crossorigin="anonymous">
</script>
		<script src="https://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js" type="text/javascript" integrity="sha384-t8aBsXwe6RT0fl56nhrEIGVQMFx4cLjxUzir5ez5nuk4WoLAk1Lov2O3H+jGrT+Y" crossorigin="anonymous">
</script>
		<style type="text/css">
.ui-page.ui-body-c.ui-page-active{
			background:black;
		}
		.main{
			font-family: 'helvetica neue', helvetica, arial, sans-serif;
			font-size: 20px;
			font-weight: 100;
			color:white;
		}
		.wrap{
			text-align:center;
			margin: 0 auto;
		}
		.btn-auth.btn-facebook.large.ui-link{
			color:white;
			font-weight:100;
			margin-top:10px;
		}
		</style>
		<title></title>
	</head>
	<body>
		<div class='wrap'>
		<p>
			<img src='/static/img/og.png'>
		</p>
		<div class='main'>
			WillBeOut
		</div>
		<div style='margin-top:20px;'>
			<a rel="external" class="facebook" href="/auth/login?next=/events"></a>
		</div>
		</div>
	</body>
</html>
